.mypause:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
      transform: translateX(50%) !important;
  }
  100% {
      transform: translateX(100%) !important;
  }
}
.animate-marquee {
  animation: marquee 15s linear infinite !important;
}