@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: LegendaryRunes;
    src: url('./assets/legendary-runes-free-trial.regular.ttf');
}

body{
    background-color: #000300;
}

body > * {
    font-family: LegendaryRunes;
    letter-spacing: .25rem;
}
